
# dependencies
/node_modules
.config/
/.config/.vscode-server/

dist
.DS_Store
server/public
vite.config.ts.*
*.tar.gz

package-lock.json
yarn.lock
pnpm-lock.yamlclean_data_dump.sql
clean_full_dump.sql
database_backup.sql
schema_backup.sql
